In [3]:
 # Ans no 1:-
 # to convert km in miles we know that km*.62 = 1 mile
km =int(input())
miles = km*0.62
print(miles)

10
6.2

In [10]:
# Ans no 2:- to convert  Celsius to Fahrenheit we know Fahrenheit = (Celsius * 9/5) + 32
Celsius = int(input('enter celsius :'))
Fahrenheit = (Celsius * 9/5) + 32
print(Fahrenheit)

enter celsius :10
50.0

In [14]:
#Ans no 3:-
import calendar
yy=int(input('year:'))
mm=int(input('month:'))
print(calendar.month(yy,mm))

year:2022
month:7
     July 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [16]:
# Ans no 4:-  As we know quardatic equation is x=-b+-sqrt(b**2-4ac)/2*a
import cmath
a=int(input("Enter a = "))
b=int(input("Enter b = "))
c=int(input("Enter c = "))
discriminant = (b**2)-(4*a*c)
sol_one = (-b+cmath.sqrt(discriminant))/(2*a)
sol_two = (-b-cmath.sqrt(discriminant))/(2*a)
print(sol_one ,",", sol_two)5

Enter a = 1
Enter b = 5
Enter c = 6
(-2+0j) , (-3+0j)

In [17]:
# Ans no 5:-
first_variable = int(input("First Variable ="))
second_variable = int(input("Second Variable ="))
print("First Variable Before swap  : {} \n Second variable Before Swap  : {}".format(first_variable,second_variable))
first_variable , second_variable = second_variable , first_variable

print("After Swap : \n First Variabe : {} \n  Second Variable : {}".format(first_variable , second_variable))

First Variable =3
Second Variable =5
First Variable Before swap  : 3
 Second variable Before Swap  : 5
After Swap :
 First Variabe : 5
  Second Variable : 3