In [3]:
# Ans no 1:-
x = int(input("Enter a Number "))
factorial = 1
if x < 0:
    print("Can not calculate Factorial of a negative number")
elif x == 0:
    print("Factorial of zero is 1")
else:
    for i in range(1,x+1):
        factorial = factorial * i
print("Factorial of {} is {}".format(x, factorial))

Enter a Number 4
Factorial of 4 is 24

In [9]:
# Ans no 2:-
x = int(input("Enter a no for Table"))
print("Multiplication table for:",x)
for i in range(1,11):
    print("{} x {} = {}".format(x , i , x*i))

Enter a no for Table5
Multiplication table for: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [10]:
# Ans no 3:-
# Fibonacci series - > 1, 1, 2, 3, 5,8,13........
def genfib(n):
    a =1
    b= 1
    l =[]
    for i in range(n):
        l.append(a)
        a , b = b , a+b
    return l

In [11]:
genfib(6)

[1, 1, 2, 3, 5, 8]

In [14]:
# Ans 4:-
num_terms = int(input("Enter the number of terms: "))

# Initialize the first two terms
fibonacci_seq = [0, 1]

# Generate the Fibonacci sequence
for i in range(2, num_terms):
    next_term = fibonacci_seq[i-1] + fibonacci_seq[i-2]
    fibonacci_seq.append(next_term)

# Print the Fibonacci sequence
print("Fibonacci Sequence:")
for term in fibonacci_seq:
    print(term)

Enter the number of terms: 15
Fibonacci Sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [15]:
# Ans no 5:-
## Find Armstrong Number in an Interval
x = int(input("Low no : "))
y = int(input("Up no : "))


for i in range(x,y+1):
    power = len(str(i))
    temp = i
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum = sum + digit ** power
        temp = temp//10
    if i == sum :
        print(i)

Low no : 5
Up no : 25
5
6
7
8
9

In [16]:
# Ans no 6 :-
x = int(input("enter the number : "))

sum = 0
for i in range(0,x+1):
    sum+=i
print("Sum of natural numbers upto {} is {}".format(x,sum))

enter the number : 4
Sum of natural numbers upto 4 is 10