In [4]:
# Ans no 1:-
lst = [1, 2, 3, 'a', 'b', 4]
def filter_list(lst):
    int_list = []
    for i in lst:
        if type(i) == int:
            int_list.append(i)

    return int_list

In [5]:
filter_list([1, 2, 3, 'a', 'b', 4])

[1, 2, 3, 4]

In [6]:
filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729'])

[0, 1729]

In [7]:
filter_list(['Nothing', 'here'])

[]

In [8]:
#Ans no 2:-
def add_indexes(lst):
    ind = 0
    index = []
    for i in lst:
        index.append(lst.index(i,ind) + i)
        ind+=1
    return index

In [9]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [10]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [11]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [12]:
# Ans no 3:-
import math
pi = math.pi

# calculate Volume of Cone
def cone_volume(h, r):
    return round((1 / 3) * pi * r * r * h)




height = float(15)
radius = float(6)

print( "Volume Of Cone : ", cone_volume(height, radius) )

Volume Of Cone :  565

In [13]:
cone_volume(3, 2)

13

In [14]:
cone_volume(18, 0)

0

In [16]:
# Ans no 4:-
def triangle(n):
    return n*(n+1)*0.5

n = int(input('Enter the triangle number :'))
print("The {}th triangle has {} dots ".format(n,int(triangle(n))))

Enter the triangle number :3
The 3th triangle has 6 dots

In [17]:
triangle(6)

21.0

In [18]:
# Ans no 5:-
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_Of_list = sum(lst)
    return total - sum_Of_list

print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))

5

5

5

In [19]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [20]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7